<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.sg.ui.enumerate">
      <enumerate
            id="com.sg.vim.enum.type0"
            label="是否">
         <enumerate
               id="是">
         </enumerate>
         <enumerate
               id="否">
         </enumerate>
      </enumerate>
      <enumerate
            id="com.sg.vim.enum.type1"
            label="车辆类型">
         <enumerate
               id="M1">
         </enumerate>
         <enumerate
               id="N1">
         </enumerate>
         <enumerate
               id="O1">
         </enumerate>
      </enumerate>
      <enumerate
            id="com.sg.vim.enum.type2"
            label="车辆类型带名称">
         <enumerate
               id="乘用车及客车">
         </enumerate>
         <enumerate
               id="货车">
         </enumerate>
         <enumerate
               id="半挂牵引车">
         </enumerate>
         <enumerate
               id="半挂车">
         </enumerate>
         <enumerate
               id="两轮摩托车和两轮轻便摩托车">
         </enumerate>
         <enumerate
               id="三轮摩托车和三轮轻便摩托车">
         </enumerate>
         <enumerate
               id="三轮汽车">
         </enumerate>
         <enumerate
               id="低速货车">
         </enumerate>
         <enumerate
               id="专用汽车">
         </enumerate>
         <enumerate
               id="非《公告》车辆产品">
         </enumerate>
      </enumerate>
      <enumerate
            id="com.sg.vim.enum.type3"
            label="底盘或整车">
         <enumerate
               id="整车">
         </enumerate>
         <enumerate
               id="底盘">
         </enumerate>
      </enumerate>
      <enumerate
            id="com.sg.vim.enum.type4"
            label="燃料种类">
         <enumerate
               id="汽油">
         </enumerate>
         <enumerate
               id="柴油">
         </enumerate>
         <enumerate
               id="电">
         </enumerate>
         <enumerate
               id="混合油">
         </enumerate>
         <enumerate
               id="天然气">
         </enumerate>
         <enumerate
               id="液化石油气">
         </enumerate>
         <enumerate
               id="甲醇">
         </enumerate>
         <enumerate
               id="乙醇">
         </enumerate>
         <enumerate
               id="太阳能">
         </enumerate>
         <enumerate
               id="混合动力">
         </enumerate>
         <enumerate
               id="氢">
         </enumerate>
      </enumerate>
      <enumerate
            id="com.sg.vim.enum.type5"
            label="转向形式">
         <enumerate
               id="方向盘">
         </enumerate>
         <enumerate
               id="方向把">
         </enumerate>
      </enumerate>
      <enumerate
            id="com.sg.vim.enum.type6"
            label="转向轴数">
         <enumerate
               id="1">
         </enumerate>
         <enumerate
               id="2">
         </enumerate>
         <enumerate
               id="3">
         </enumerate>
      </enumerate>
   </extension>

</plugin>
