<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.sg.vim.perspective.print">
         <view
               closeable="false"
               id="com.sg.vim.view.certificate"
               minimized="false"
               moveable="false"
               ratio="1"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false">
         </view>
         <view
               closeable="false"
               id="com.sg.vim.view.fuelid"
               minimized="false"
               moveable="false"
               ratio="1"
               relationship="stack"
               relative="com.sg.vim.view.certificate"
               showTitle="true"
               standalone="false">
         </view>
         <view
               closeable="false"
               id="com.sg.vim.view.nameplate"
               minimized="false"
               moveable="false"
               ratio="1"
               relationship="stack"
               relative="com.sg.vim.view.certificate"
               showTitle="true"
               standalone="false">
         </view>
         <view
               closeable="false"
               id="com.sg.vim.coc"
               minimized="false"
               moveable="false"
               ratio="0.3"
               relationship="stack"
               relative="com.sg.vim.view.certificate"
               showTitle="true"
               standalone="false">
         </view>
         <view
               closeable="false"
               id="com.sg.vim.print.printView"
               minimized="false"
               relationship="right"
               relative="com.sg.vim.view.certificate">
         </view>
       
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.sg.ui.part.view.TableNavigator"
            id="com.sg.vim.coc"
            name="车辆一致性证书管理"
            restorable="true">
      </view>
      <view
            class="com.sg.ui.part.view.TableNavigator"
            id="com.sg.vim.view.fuelid"
            name="燃油标识管理"
            restorable="true">
      </view>
      <view
            class="com.sg.ui.part.view.TableNavigator"
            id="com.sg.vim.view.nameplate"
            name="铭牌参数管理"
            restorable="true">
      </view>
      <view
            class="com.sg.ui.part.view.TableNavigator"
            id="com.sg.vim.view.certificate"
            name="合格证管理"
            restorable="true">
      </view>
      <view
            class="com.sg.vim.print.PrintView"
            id="com.sg.vim.print.printView"
            name="打印"
            restorable="true">
      </view>
   </extension>
   <extension
         point="com.sg.ui.navigator">
      <navigator
            id="com.sg.vim.coc"
            provideSelection="true"
            table="com.sg.vim.table.coc">
      </navigator>
      <navigator
            id="com.sg.vim.view.certificate"
            provideSelection="true"
            table="com.sg.vim.table.certificate">
      </navigator>
      <navigator
            id="com.sg.vim.view.fuelid"
            provideSelection="true"
            table="com.sg.vim.table.fuelid">
      </navigator>
      <navigator
            id="com.sg.vim.view.nameplate"
            provideSelection="true"
            table="com.sg.vim.table.nameplate">
      </navigator>
   </extension>
   <extension
         point="com.sg.ui.table">
      <table
            canCreate="true"
            collectionName="cccinfo"
            dbName="appportal"
            doubleClickListener="com.sg.ui.viewer.table.DoubleClickOpenEditor"
            editorId="com.sg.vim.editor.cccinfo"
            fullSelection="true"
            id="com.sg.vim.table.coc"
            idfield="_id"
            inputProvider="com.sg.vim.data.CCCInfoInput">
         <column
               column="ccc_12"
               name="车辆一致性证书ID"
               type="String"
               width="80">
         </column>
         <column
               column="ccc_00"
               name="车辆一致性证书编号"
               type="String"
               width="81">
         </column>
         <column
               column="f_0_1"
               name="0.1 车辆制造企业名称"
               type="String"
               width="82">
         </column>
         <column
               column="f_c0_1"
               name="C0.1车辆制造国"
               type="String"
               width="83">
         </column>
         <column
               column="f_0_2a"
               name="0.2 车型系列代号"
               type="String"
               width="84">
         </column>
         <column
               column="f_0_2a1"
               name="名称"
               type="String"
               width="85">
         </column>
         <column
               column="f_0_2b"
               name="单元代号"
               type="String"
               width="86">
         </column>
         <column
               column="f_0_2b1"
               name="名称"
               type="String"
               width="87">
         </column>
         <column
               column="f_0_2c"
               name="车型代号"
               type="String"
               width="88">
         </column>
         <column
               column="f_0_2c1"
               name="名称"
               type="String"
               width="89">
         </column>
         <column
               column="f_0_2_1"
               name="0.2.1 车型名称"
               type="String"
               width="90">
         </column>
         <column
               column="f_c0_2"
               name="C0.2 中文品牌"
               type="String"
               width="91">
         </column>
         <column
               column="f_c0_3"
               name="C0.3 英文品牌"
               type="String"
               width="92">
         </column>
         <column
               column="f_0_4"
               name="0.4 车辆类别"
               type="String"
               width="93">
         </column>
         <column
               column="f_0_5a"
               name="0.5 名称"
               type="String"
               width="94">
         </column>
         <column
               column="f_0_5b"
               name="地址"
               type="String"
               width="95">
         </column>
         <column
               column="f_0_6a"
               name="0.6 法定铭牌的位置"
               type="String"
               width="96">
         </column>
         <column
               column="f_0_6b"
               name="车辆识别代号"
               type="String"
               width="97">
         </column>
         <column
               column="f_0_6c"
               name="车辆识别代号的打刻位置"
               type="String"
               width="98">
         </column>
         <column
               column="f_c0_7"
               name="0.7 车辆注册类型"
               type="String"
               width="99">
         </column>
         <column
               column="f_21a"
               name="21 发动机编号"
               type="String"
               width="100">
         </column>
         <column
               column="f_21b"
               name="发动机编号在发动机上的打刻位置"
               type="String"
               width="101">
         </column>
         <column
               column="ccc_01"
               name="CCC认证过程中车辆的制造阶段"
               type="String"
               width="102">
         </column>
         <column
               column="ccc_02"
               name="CCC证书编号(版本号)"
               type="String"
               width="103">
         </column>
         <column
               column="ccc_03"
               name="签发日期"
               type="String"
               width="104">
         </column>
         <column
               column="f_1"
               name="1 车轴数量"
               type="String"
               width="105">
         </column>
         <column
               column="f_1_1"
               name="车轮数量"
               type="String"
               width="106">
         </column>
         <column
               column="f_2"
               name="2 驱动轴位置"
               type="String"
               width="107">
         </column>
         <column
               column="f_3"
               name="3 轴距(mm)"
               type="String"
               width="108">
         </column>
         <column
               column="f_5"
               name="5 轮距(mm)"
               type="String"
               width="109">
         </column>
         <column
               column="f_6_1"
               name="6.1 长度(mm)"
               type="String"
               width="110">
         </column>
         <column
               column="f_7_1"
               name="7.1 宽度(mm)"
               type="String"
               width="111">
         </column>
         <column
               column="f_8"
               name="8 高度(mm)"
               type="String"
               width="112">
         </column>
         <column
               column="f_c1"
               name="C1 前悬(mm)"
               type="String"
               width="113">
         </column>
         <column
               column="f_11"
               name="l1 后悬(mm)"
               type="String"
               width="114">
         </column>
         <column
               column="f_c2"
               name="C2 接近角(°)"
               type="String"
               width="115">
         </column>
         <column
               column="f_c3"
               name="C3 离去角(°)"
               type="String"
               width="116">
         </column>
         <column
               column="f_12_1"
               name="12.1 行驶状态下带车身的车辆质量（kg）"
               type="String"
               width="117">
         </column>
         <column
               column="f_14_1"
               name="14.1 额定总质量(kg)"
               type="String"
               width="118">
         </column>
         <column
               column="f_14_2"
               name="14.2 该质量的轴荷分配(kg)"
               type="String"
               width="119">
         </column>
         <column
               column="f_14_3"
               name="14.3 各车轴或车轴组技术上允许的最大质量(kg)"
               type="String"
               width="120">
         </column>
         <column
               column="f_16"
               name="16 车顶最大允许载荷(kg)"
               type="String"
               width="121">
         </column>
         <column
               column="f_17"
               name="17 挂车的最大质量(制动下)(kg)"
               type="String"
               width="122">
         </column>
         <column
               column="f_17_4"
               name="非制动下"
               type="String"
               width="123">
         </column>
         <column
               column="f_18"
               name="18 牵引车与挂车的最大组合质量(kg)"
               type="String"
               width="124">
         </column>
         <column
               column="f_19_1"
               name="19.1 牵引车与挂车连接点处最大垂直负荷(kg)"
               type="String"
               width="125">
         </column>
         <column
               column="f_20"
               name="20 发动机制造商名称"
               type="String"
               width="126">
         </column>
         <column
               column="f_c4"
               name="C4 发动机型号"
               type="String"
               width="127">
         </column>
         <column
               column="f_22"
               name="22 发动机工作原理"
               type="String"
               width="128">
         </column>
         <column
               column="f_22_1"
               name="22.1 直接喷射"
               type="String"
               width="129">
         </column>
         <column
               column="f_23"
               name="23 缸数量"
               type="String"
               width="130">
         </column>
         <column
               column="f_23a"
               name="排列形式"
               type="String"
               width="131">
         </column>
         <column
               column="f_24"
               name="24 排量(ml)"
               type="String"
               width="132">
         </column>
         <column
               column="f_25"
               name="25 燃料种类"
               type="String"
               width="133">
         </column>
         <column
               column="f_26"
               name="26 最大净功率(kw)"
               type="String"
               width="134">
         </column>
         <column
               column="f_26a"
               name="对应转速(min-1)"
               type="String"
               width="135">
         </column>
         <column
               column="f_27"
               name="27 离合器形式"
               type="String"
               width="136">
         </column>
         <column
               column="f_28"
               name="28 变速器形式"
               type="String"
               width="137">
         </column>
         <column
               column="f_29"
               name="29 速比"
               type="String"
               width="138">
         </column>
         <column
               column="f_30"
               name="30 主传动比"
               type="String"
               width="139">
         </column>
         <column
               column="f_32"
               name="32 轮胎规格"
               type="String"
               width="140">
         </column>
         <column
               column="f_34"
               name="34 转向助力形式"
               type="String"
               width="141">
         </column>
         <column
               column="f_35"
               name="35 制动装置简要说明"
               type="String"
               width="142">
         </column>
         <column
               column="f_37"
               name="37 车身型式"
               type="String"
               width="143">
         </column>
         <column
               column="f_38"
               name="38 车辆颜色"
               type="String"
               width="144">
         </column>
         <column
               column="f_41"
               name="41 车门数量"
               type="String"
               width="145">
         </column>
         <column
               column="f_41a"
               name="车门结构"
               type="String"
               width="146">
         </column>
         <column
               column="f_42_1"
               name="42.1 座位数(包括驾驶员座)"
               type="String"
               width="147">
         </column>
         <column
               column="f_42_1a"
               name="布置方式"
               type="String"
               width="148">
         </column>
         <column
               column="f_43_1"
               name="43.1 如装有牵引装置CCC证书编号"
               type="String"
               width="149">
         </column>
         <column
               column="f_43_1a"
               name="或试验报告编号"
               type="String"
               width="150">
         </column>
         <column
               column="f_44"
               name="44 最高车速(km/h)"
               type="String"
               width="151">
         </column>
         <column
               column="f_45"
               name="45 声级"
               type="String"
               width="152">
         </column>
         <column
               column="f_46_1"
               name="46.1 排气排放物"
               type="String"
               width="153">
         </column>
         <column
               column="f_46_2"
               name="46.2 CO2排放量/燃油消耗量"
               type="String"
               width="154">
         </column>
         <column
               column="f_50"
               name="50 备注"
               type="String"
               width="155">
         </column>
         <column
               column="f_c5"
               name="C5 载质量利用系数(kg)"
               type="String"
               width="156">
         </column>
         <column
               column="f_c6"
               name="C6 钢板弹簧片数"
               type="String"
               width="157">
         </column>
         <column
               column="f_c34"
               name="转向形式"
               type="String"
               width="158">
         </column>
         <column
               column="f_c7_1"
               name="C7 货厢内部尺寸(mm) 长"
               type="String"
               width="159">
         </column>
         <column
               column="f_c7_2"
               name="宽"
               type="String"
               width="160">
         </column>
         <column
               column="f_c7_3"
               name="高"
               type="String"
               width="161">
         </column>
         <column
               column="f_15"
               name="15 可伸缩轴或可装载轴的位置"
               type="String"
               width="162">
         </column>
         <column
               column="f_17_1"
               name="17.1 牵引杆式挂车"
               type="String"
               width="163">
         </column>
         <column
               column="f_17_2"
               name="17.2 半挂车"
               type="String"
               width="164">
         </column>
         <column
               column="f_17_3"
               name="17.3 中心轴式挂车"
               type="String"
               width="165">
         </column>
         <column
               column="f_33_1"
               name="33.1 驱动轴是否装空气悬挂或等效装置"
               type="String"
               width="166">
         </column>
         <column
               column="f_36"
               name="36 挂车制动系统供气管内压力(bar)"
               type="String"
               width="167">
         </column>
         <column
               column="f_39"
               name="39 罐式车罐容量(m3)"
               type="String"
               width="168">
         </column>
         <column
               column="f_40"
               name="40 起重机的最大力矩能力(kNm)"
               type="String"
               width="169">
         </column>
         <column
               column="f_48_1"
               name="48.1 按照运输危险货物的结构要求的试验报告编号"
               type="String"
               width="170">
         </column>
         <column
               column="f_48_2"
               name="48.2 按照运输某些动物的结构要求的试验报告编号"
               type="String"
               width="171">
         </column>
         <column
               column="f_42_3"
               name="42.3 站位数"
               type="String"
               width="172">
         </column>
         <column
               column="f_4_1"
               name="4.1 支承转盘导程"
               type="String"
               width="173">
         </column>
         <column
               column="f_6_3"
               name="6.3 车辆前端与牵引装置中心之间的距离(mm)"
               type="String"
               width="174">
         </column>
         <column
               column="f_6_5"
               name="6.5 装载区长度(mm)"
               type="String"
               width="175">
         </column>
         <column
               column="ccc04"
               name="型号"
               type="String"
               width="176">
         </column>
         <column
               column="ccc05"
               name="类别"
               type="String"
               width="177">
         </column>
         <column
               column="ccc06"
               name="制造商"
               type="String"
               width="178">
         </column>
         <column
               column="ccc07"
               name="CCC证书编号(版本号)"
               type="String"
               width="179">
         </column>
         <column
               column="ccc08"
               name="签发日期"
               type="String"
               width="180">
         </column>
         <column
               column="ccc09"
               name="制造商"
               type="String"
               width="181">
         </column>
         <column
               column="ccc10"
               name="CCC证书编号(版本号)"
               type="String"
               width="182">
         </column>
         <column
               column="ccc1"
               name="签发日期"
               type="String"
               width="183">
         </column>
         <column
               column="f_10_1"
               name="10.1 车辆在地面上的投影面积(m2)"
               type="String"
               width="184">
         </column>
      </table>
      <table
            canCreate="true"
            canDelete="true"
            collectionName="certificateinfo"
            customItemHeight="72"
            dbName="appportal"
            doubleClickListener="com.sg.ui.viewer.table.DoubleClickOpenEditor"
            fix="2"
            fullSelection="true"
            hasBorder="false"
            headerVisiable="true"
            id="com.sg.vim.table.certificate"
            idfield="_id"
            inputProvider="com.sg.vim.data.CentificateInfoInput"
            lineVisiable="true"
            markupEnabled="false"
            multiSelection="true"
            useHashlookup="false"
            virtual="true">
         <column
               column="f_0_1"
               name="车辆制造企业名称"
               type="String"
               width="83">
         </column>
         <column
               column="e_02"
               name="车身颜色"
               type="String"
               width="89">
         </column>
         <column
               column="f_0_2_1"
               name="车辆名称"
               type="String"
               width="91">
         </column>
         <column
               column="f_c0_2"
               name="车辆品牌"
               type="String"
               width="92">
         </column>
         <column
               column="f_0_4"
               name="车辆型号(类别)"
               type="String"
               width="96">
         </column>
         <column
               column="f_0_5b"
               name="车辆生产单位地址"
               type="String"
               width="106">
         </column>
         <column
               column="f_1"
               name="轴数"
               type="String"
               width="107">
         </column>
         <column
               column="f_1_1"
               name="轮胎数量"
               type="String"
               width="109">
         </column>
         <column
               column="f_3"
               name="轴距"
               type="String"
               width="110">
         </column>
         <column
               column="f_5"
               name="前轮距/后轮距"
               type="String"
               width="111">
         </column>
         <column
               column="f_6_1"
               name="外廓尺寸长"
               type="String"
               width="112">
         </column>
         <column
               column="f_7_1"
               name="外廓尺寸高"
               type="String"
               width="113">
         </column>
         <column
               column="f_8"
               name="外廓尺寸宽"
               type="String"
               width="114">
         </column>
         <column
               column="f_14_1"
               name="总质量"
               type="String"
               width="115">
         </column>
         <column
               column="f_14_2"
               name="轴荷"
               type="String"
               width="116">
         </column>
         <column
               column="f_c4"
               name="发动机型号"
               type="String"
               width="117">
         </column>
         <column
               column="f_24"
               name="排量"
               type="String"
               width="119">
         </column>
         <column
               column="f_25"
               name="燃料种类"
               type="String"
               width="120">
         </column>
         <column
               column="f_32"
               name="轮胎规格"
               type="String"
               width="121">
         </column>
         <column
               column="f_42_1"
               name="额定载客"
               type="String"
               width="127">
         </column>
         <column
               column="f_44"
               name="最高设计车速"
               type="String"
               width="128">
         </column>
         <column
               column="f_c5"
               name="载质量利用系数"
               type="String"
               width="133">
         </column>
         <column
               column="f_c6"
               name="钢板弹簧片数"
               type="String"
               width="134">
         </column>
         <column
               column="f_c34"
               name="转向形式"
               type="String"
               width="141">
         </column>
         <column
               column="f_c7_1"
               name="货箱内部尺寸长"
               type="String"
               width="148">
         </column>
         <column
               column="f_c7_2"
               name="货箱内部尺寸高"
               type="String"
               width="152">
         </column>
         <column
               column="f_c7_3"
               name="货箱内部尺寸宽"
               type="String"
               width="157">
         </column>
         <column
               column="c_01"
               name="功率"
               type="String"
               width="158">
         </column>
         <column
               column="c_02"
               name="驾驶室准乘人数"
               type="String"
               width="159">
         </column>
         <column
               column="c_03"
               name="油耗"
               type="String"
               width="160">
         </column>
         <column
               column="c_04"
               name="半挂车鞍座最大允许总质量"
               type="String"
               width="161">
         </column>
         <column
               column="c_05"
               name="其他"
               type="String"
               width="162">
         </column>
         <column
               column="c_06"
               name="排放标准"
               type="String"
               width="163">
         </column>
         <column
               column="c_07"
               name="底盘型号"
               type="String"
               width="164">
         </column>
         <column
               column="c_08"
               name="整备质量"
               type="String"
               width="165">
         </column>
         <column
               column="c_09"
               name="额定载质量"
               type="String"
               width="166">
         </column>
         <column
               column="c_10"
               name="准牵引总质量"
               type="String"
               width="167">
         </column>
         <column
               column="c_11"
               name="合格证＿备注"
               type="String"
               width="168">
         </column>
         <column
               column="c_12"
               name="底盘ID"
               type="String"
               width="169">
         </column>
         <column
               column="c_13"
               name="转向轴数"
               type="String"
               width="170">
         </column>
         <column
               column="c_14"
               name="企业编号"
               type="String"
               width="171">
         </column>
         <column
               column="c_15"
               name="后制动操作方式"
               type="String"
               width="172">
         </column>
         <column
               column="c_16"
               name="后制动方式"
               type="String"
               width="173">
         </column>
         <column
               column="c_17"
               name="企业标准"
               type="String"
               width="174">
         </column>
         <column
               column="c_18"
               name="企业其它信息"
               type="String"
               width="175">
         </column>
         <column
               column="c_19"
               name="前制动操作方式"
               type="String"
               width="176">
         </column>
         <column
               column="c_20"
               name="前制动方式"
               type="String"
               width="177">
         </column>
         <column
               column="c_21"
               name="纯电动标记"
               type="String"
               width="178">
         </column>
         <column
               column="c_22"
               name="车辆类型"
               type="String"
               width="179">
         </column>
         <column
               column="c_23"
               name="车辆状态信息"
               type="String"
               width="180">
         </column>
         <column
               column="c_25"
               name="车辆制造日期"
               type="String"
               width="181">
         </column>
         <column
               column="c_26"
               name="车辆识别代码/车架号(VIN)"
               type="String"
               width="182">
         </column>
         <column
               column="c_27"
               name="状态"
               type="String"
               width="183">
         </column>
         <column
               column="c_28"
               name="上传主机硬件信息"
               type="String"
               width="184">
         </column>
         <column
               column="c_29"
               name="上传日期"
               type="String"
               width="185">
         </column>
         <column
               column="c_30"
               name="公安反馈时间"
               type="String"
               width="186">
         </column>
         <column
               column="c_31"
               name="反馈码"
               type="String"
               width="187">
         </column>
         <column
               column="c_32"
               name="上传主机地址"
               type="String"
               width="188">
         </column>
         <column
               column="c_33"
               name="企业用户名"
               type="String"
               width="189">
         </column>
         <column
               column="c_34"
               name="U盾标识"
               type="String"
               width="190">
         </column>
         <column
               column="c_35"
               name="更新日期"
               type="String"
               width="191">
         </column>
         <column
               column="c_36"
               name="上传标记"
               type="String"
               width="192">
         </column>
         <column
               column="c_37"
               name="校验码"
               type="String"
               width="193">
         </column>
         <column
               column="c_38"
               name="上传系统版本信息"
               type="String"
               width="194">
         </column>
         <column
               column="c_39"
               name="完整合格证编号"
               type="String"
               width="195">
         </column>
         <column
               column="c_40"
               name="规则：改动车辆日期"
               type="String"
               width="196">
         </column>
         <column
               column="c_41"
               name="操作日期"
               type="String"
               width="197">
         </column>
         <column
               column="c_42"
               name="打印唯一码"
               type="String"
               width="198">
         </column>
         <column
               column="c_43"
               name="整车合格证编号"
               type="String"
               width="199">
         </column>
         <column
               column="c_44"
               name="纸张编号 "
               type="String"
               width="200">
         </column>
         <column
               column="c_45"
               name="发证日期"
               type="String"
               width="201">
         </column>
         <column
               column="c_46"
               name="底盘合格证编号"
               type="String"
               width="202">
         </column>
         <column
               column="c_47"
               name="二维码"
               type="String"
               width="203">
         </column>
         <column
               column="c_48"
               name="合格证编号（固定＋国家＋递增）"
               type="String"
               width="204">
         </column>
         <column
               column="c_49"
               name="发证时间"
               type="String"
               width="205">
         </column>
         <column
               column="c_50"
               name="发动机号"
               type="String"
               width="206">
         </column>
         <column
               column="c_51"
               name="配置序列号"
               type="String"
               width="207">
         </column>
      </table>
      <table
            canCreate="true"
            canDelete="true"
            collectionName="fuelinfo"
            customItemHeight="72"
            dbName="appportal"
            doubleClickListener="com.sg.ui.viewer.table.DoubleClickOpenEditor"
            fix="2"
            fullSelection="true"
            hasBorder="false"
            headerVisiable="true"
            id="com.sg.vim.table.fuelid"
            idfield="_id"
            inputProvider="com.sg.vim.data.FuelLogoInfoInput"
            lineVisiable="true"
            markupEnabled="false"
            multiSelection="true"
            useHashlookup="false"
            virtual="true">
         <column
               column="f_0_1"
               name="生产企业"
               type="String"
               width="83">
         </column>
         <column
               column="f_0_4"
               name="车辆型号"
               type="String"
               width="109">
         </column>
         <column
               column="g_01"
               name="备案号"
               type="String"
               width="89">
         </column>
         <column
               column="g_02"
               name="启用日期"
               type="String"
               width="91">
         </column>
         <column
               column="g_04"
               name="市区燃油消耗量"
               type="String"
               width="96">
         </column>
         <column
               column="g_05"
               name="市郊燃油消耗量"
               type="String"
               width="106">
         </column>
         <column
               column="g_06"
               name="综合燃油消耗量"
               type="String"
               width="107">
         </column>
         <column
               column="f_14_1"
               name="最大设计总质量"
               type="String"
               width="110">
         </column>
         <column
               column="f_c4"
               name="发动机型号"
               type="String"
               width="111">
         </column>
         <column
               column="f_24"
               name="排量"
               type="String"
               width="112">
         </column>
         <column
               column="f_25"
               name="燃料类型"
               type="String"
               width="113">
         </column>
         <column
               column="g_03"
               name="其它信息"
               type="String"
               width="92">
         </column>
      </table>
      <table
            canCreate="true"
            canDelete="true"
            collectionName="nameplateinfo"
            customItemHeight="72"
            dbName="appportal"
            doubleClickListener="com.sg.ui.viewer.table.DoubleClickOpenEditor"
            fix="2"
            fullSelection="true"
            hasBorder="false"
            headerVisiable="true"
            id="com.sg.vim.table.nameplate"
            idfield="_id"
            inputProvider="com.sg.vim.data.NamePlateInfoinput"
            lineVisiable="true"
            markupEnabled="false"
            multiSelection="true"
            useHashlookup="false"
            virtual="true">
         <column
               column="g_01"
               name="VIN"
               type="String"
               width="89">
         </column>
         <column
               column="f_c0_2"
               name="品牌"
               type="String"
               width="91">
         </column>
         <column
               column="k_01"
               name="英文品牌"
               type="String"
               width="83">
         </column>
         <column
               column="f_0_4"
               name="整车型号"
               type="String"
               width="92">
         </column>
         <column
               column="f_c4"
               name="发动机型号"
               type="String"
               width="106">
         </column>
         <column
               column="f_24"
               name="发动机排量"
               type="String"
               width="107">
         </column>
         <column
               column="f_26"
               name="最大净功率"
               type="String"
               width="109">
         </column>
         <column
               column="f_14_1"
               name="最大允许总质量"
               type="String"
               width="96">
         </column>
         <column
               column="f_42_1"
               name="乘员数"
               type="String"
               width="110">
         </column>
         <column
               column="c_25"
               name="制造年月"
               type="String"
               width="111">
         </column>
      </table>
   </extension>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            brandingId="com.mobnut.portal.branding"
            class="com.sg.vim.print.PrintEntryPoint"
            id="com.sg.vim.print.clientprint"
            path="/print">
      </entrypoint>
   </extension>

</plugin>
