<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.sg.vim.perspective.configcode">
         <view
               closeable="false"
               id="com.sg.vim.configcode"
               minimized="false"
               ratio="0.4"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               closeable="false"
               id="com.sg.vim.productcode"
               minimized="false"
               ratio="0.6"
               relationship="right"
               relative="com.sg.vim.configcode">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.sg.vim.configcode.view.ConfigCodeView"
            id="com.sg.vim.configcode"
            name="配置序列号"
            restorable="true">
      </view>
   </extension>
   <extension
         point="com.sg.ui.table">
      <table
            canCreate="true"
            canDelete="true"
            collectionName="configcodeinfo"
            dbName="appportal"
            doubleClickListener="com.sg.ui.viewer.table.DoubleClickOpenEditor"
            editorId="com.sg.vim.editor.configcode"
            id="com.sg.vim.table.configcode"
            idfield="_id"
            inputProvider="com.sg.vim.datamodel.ConfigCodeInfoInput">
         <column
               column="f_0_2c"
               name="公告车型"
               type="String"
               width="80">
         </column>
         <column
               column="h_01"
               name="正式配置序列号"
               type="String"
               width="80">
         </column>
         <column
               column="h_02"
               name="临时配置序列号"
               type="String"
               width="80">
         </column>
         <column
               column="h_03"
               name="配置描述"
               type="String"
               width="80">
         </column>
         <column
               column="h_04"
               name="配置"
               type="String"
               width="80">
         </column>
      </table>
   </extension>
   <extension
         point="com.sg.ui.navigator">
      <navigator
            id="com.sg.vim.configcode"
            provideSelection="true"
            table="com.sg.vim.table.configcode">
         <createEditor
               createHandler="com.sg.vim.cocinfo.handler.CreateCFGHandler"
               editorId="com.sg.vim.editor.configcode">
         </createEditor>
         <filterAction>
            <column
                  column="f_0_2c"
                  name="车型代号"
                  type="String">
            </column></filterAction>
         <searchAction>
            <column
                  column="f_0_2c"
                  name="车型代号"
                  type="String">
            </column></searchAction>
      </navigator>
   </extension>
   <extension
         point="com.sg.ui.dataEditor">
      <editor
            collectionName="configcodeinfo"
            dbName="appportal"
            id="com.sg.vim.editor.configcode"
            name="配置序列号">
         <basicpage
               id="com.sg.vim.configcode.basicpage1"
               title="com.sg.vim.configcode.basicpage1">
            <pagecolumn>
               <section
                     label="配置序列号">
                  <field
                        computeField="false"
                        editPart="Text(Single Line)"
                        editable="false"
                        id="f_0_2c"
                        label="公告车型"
                        labelVisible="true"
                        name="f_0_2c"
                        persistable="true"
                        required="false"
                        type="String">
                  </field>
                  <field
                        computeField="false"
                        editPart="Text(Single Line)"
                        editable="true"
                        id="h_01"
                        label="正式配置序列号"
                        labelVisible="true"
                        name="h_01"
                        persistable="true"
                        required="false"
                        type="String">
                  </field>
                  <field
                        computeField="false"
                        editPart="Text(Single Line)"
                        editable="true"
                        id="h_02"
                        label="临时配置序列号"
                        labelVisible="true"
                        name="h_02"
                        persistable="true"
                        required="false"
                        type="String">
                  </field>
                  <field
                        computeField="false"
                        editPart="Text(Single Line)"
                        editable="true"
                        id="h_03"
                        label="配置描述"
                        labelVisible="true"
                        name="h_03"
                        persistable="true"
                        required="false"
                        type="String">
                  </field>
                  <field
                        computeField="false"
                        editPart="Text(Single Line)"
                        editable="true"
                        id="h_04"
                        label="配置"
                        labelVisible="true"
                        name="h_04"
                        persistable="true"
                        required="false"
                        type="String">
                  </field>
               </section>
            </pagecolumn>
         </basicpage>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:main?after=com.sg.ui.separator3">
         <command
               commandId="com.sg.vim.command.copycreate.configcode"
               icon="image/trasfer_24.png"
               label="创建配置序列号"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePartId">
                  <equals
                        value="com.sg.vim.view.basic">
                  </equals>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.sg.vim.configcode?after=additions">
         <command
               commandId="com.sg.vim.configcode.transfertoproductcode"
               icon="image/bind_32.png"
               label="绑定到成品码"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.sg.vim.command.copycreate.configcode"
            name="创建配置序列号">
      </command>
      <command
            id="com.sg.vim.configcode.transfertoproductcode"
            name="绑定到成品码">
      </command>
      <command
            id="com.sg.vim.configcode.openconfigcodeinfo"
            name="查看绑定的配置序列号信息">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.sg.vim.configcode.handle.CopyCreateConfigCode"
            commandId="com.sg.vim.command.copycreate.configcode">
         <enabledWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.sg.vim.cocinfo.handler.BindingConfigCodeToProductcode"
            commandId="com.sg.vim.configcode.transfertoproductcode">
         <enabledWhen>
            <with
                  variable="activePart">
               <test
                     args="canBind"
                     property="com.sg.vim.test02.activePart"
                     value="true">
               </test>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.sg.vim.configcode.handle.OpenBindingConfigCodeInfo"
            commandId="com.sg.vim.configcode.openconfigcodeinfo">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.sg.vim.configcode.test.ActivePartPropertyTester"
            id="com.sg.vim.test02.activePart"
            namespace="com.sg.vim.test02"
            properties="activePart"
            type="java.lang.Object">
      </propertyTester>
   </extension>

</plugin>
